@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

html {
  overflow-x: hidden;
}

html,
body {
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: auto;
  padding: 0;
}

body {
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  position: relative;
  color: #b8b8b8;
  background-color: #19161b;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0vw 10vw;
  margin: 0 auto;
}
@media (max-width: 991.8px) {
  .container {
    padding: 0px 10px;
  }
}

.wrapper {
  padding-top: 5vw;
  padding-bottom: 5vw;
  overflow: hidden;
}
@media (max-width: 767.8px) {
  .wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 479.8px) {
  .wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.none {
  display: none;
}

.button {
  display: block;
  padding: 10.5px 22.5px;
  background-color: #ffb577;
  color: #000000;
  transition: all 0.3s ease 0s;
  border: 3px solid #ffb577;
  box-sizing: border-box;
  line-height: 1.2;
}
.button svg {
  margin-left: 0.5rem;
}
@media (hover: hover) {
  .button:hover {
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    border: 3px solid #ea7310;
  }
}

.title {
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-weight: 700;
}

.contain__title {
  font-size: 3rem;
  line-height: 1.28;
}
@media (max-width: 767.8px) {
  .contain__title {
    font-size: 2rem;
  }
}

.label {
  color: #ffb577;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.label img {
  margin-left: 15px;
}
@media (max-width: 767.8px) {
  .label {
    justify-content: center;
  }
}


.modal {
  position: relative;
  width: 0;
  height: 0;
}
.modal__window {
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5vw;
  right: 10vw;
  bottom: 5vw;
  left: -120%;
  z-index: 999;
  transition: left 0.5s ease 0s;
}
@media (max-width: 991.8px) {
  .modal__window {
    right: 5vw;
  }
}
@media (max-width: 479.8px) {
  .modal__window {
    right: 1vw;
  }
}
.modal__window.active {
  left: 10vw;
  transition: left 0.5s ease 0s;
}
@media (max-width: 991.8px) {
  .modal__window.active {
    left: 5vw;
  }
}
@media (max-width: 479.8px) {
  .modal__window.active {
    left: 1vw;
  }
}
.modal__window-close {
  position: absolute;
  top: 3vw;
  right: 5vw;
  color: #000000;
  font-size: 2rem;
  z-index: 99;
}
.modal__window iframe {
  width: 80%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.8px) {
  .modal__window iframe {
    width: 90%;
    height: 60%;
  }
}
@media (max-width: 479.8px) {
  .modal__window iframe {
    width: 95%;
  }
}

/*SCROLL*/
.container__scroll {
  cursor: pointer;
  position: fixed;
  right: calc(10px + 90 * (100vw - 320px) / 1180);
  top: 80%;
  z-index: 100;
}

.scroll {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  transition: transform 0.3s ease 0s;
}

.scroll.active {
  display: flex;
}

.header__wrapper {
  padding-top: 1.75rem;
  padding-bottom: 1.9rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 680px;
  max-width: 100%;
  gap: 20px;
}
.header__logo {
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .header__logo:hover {
    transition: all 0.3s ease 0s;
    box-shadow: 0px 1px 0px 0px rgb(255, 255, 255);
  }
}
@media (max-width: 767.8px) {
  .header__nav {
    display: none;
    top: -120%;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767.8px) {
  .header__burger {
    display: block;
  }
}

.nav {
  max-width: 100%;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 535px;
}
@media (max-width: 991.8px) {
  .nav__list {
    width: auto;
    gap: 0.6rem;
  }
}
.nav__item {
  transition: all 0.3s ease 0s;
  padding: 5px;
}
@media (hover: hover) {
  .nav__item.active, .nav__item:hover {
    transition: all 0.3s ease 0s;
    border-radius: 20%;
    background-color: rgba(255, 181, 119, 0.8);
    box-shadow: 0 0 5px #ffb577, 0 0 18px #ffb577, 0 0 35px #ffb577;
    color: #000000;
  }
}

@media (max-width: 767.8px) {
  /*рисуем бургер и анимацию*/
  .burger {
    position: relative;
    display: block;
    flex: 0 0 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
    margin-left: 15px;
  }
  .burger span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .burger span:first-child {
    top: 0;
  }
  .burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active span:first-child {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger.active span:last-child {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  /*блок при открытом меню*/
  body.lock {
    overflow: hidden;
    touch-action: none;
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
  }
  /*мобильная верси меню*/
  .header__nav, .header__nav.active {
    position: fixed;
    z-index: 10;
    left: 0;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    width: 100%;
    height: 100%;
    background: #000;
    padding-top: 50px;
    max-width: 100%;
    transition: all 0.3s ease 0s;
    overflow: auto;
    justify-content: flex-start;
  }
  .header__nav.active {
    display: flex;
    top: 70px;
  }
  .header__nav.active .nav__list {
    flex-direction: column;
  }
  .header__nav.active .nav__link {
    font-size: 20px;
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.info__content p {
  max-width: 200px;
  line-height: 1.75;
}
.info__title {
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
}

.map__wrapper {
  display: flex;
}
@media (max-width: 767.8px) {
  .map__wrapper {
    flex-direction: column;
  }
}
.map__info {
  flex: 1 1 33%;
  background-color: #1f1d21;
  padding-left: 5%;
}
@media (max-width: 767.8px) {
  .map__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px;
  }
}
.map__map {
  display: flex;
  flex: 1 1 67%;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  filter: invert(100%) grayscale(80%);
}

.main__wrapper {
  display: flex;
  gap: 3rem;
}
.main__content {
  flex: 1 1 50%;
}
@media (max-width: 767.8px) {
  .main__content {
    flex-basis: 100%;
  }
}
.main__image {
  flex: 1 1 50%;
}
@media (max-width: 767.8px) {
  .main__image {
    display: none;
  }
}
.main__image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
@media (max-width: 767.8px) {
  .main__image img {
    display: none;
    visibility: hidden;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.content__title {
  font-size: 3.5rem;
  line-height: 1.2;
  word-break: break-word;
}
@media (max-width: 767.8px) {
  .content__title {
    font-size: 2.5rem;
  }
}
.content__btn {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}

.about__wrapper {
  display: flex;
  gap: 6.2%;
}
@media (max-width: 767.8px) {
  .about__wrapper {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 2 1 50%;
  min-width: 500px;
}
@media (max-width: 767.8px) {
  .contain {
    align-items: center;
    min-width: auto;
  }
}
.contain__box {
  display: flex;
  gap: 2rem;
}
@media (max-width: 767.8px) {
  .contain__box {
    flex-direction: column;
  }
}
.contain__info {
  min-width: 150px;
  max-width: 210px;
  overflow: hidden;
}
.contain__info span,
.contain__info p {
  line-height: 1.75;
}
.contain__info span {
  display: block;
  margin-bottom: 15px;
}
.contain__tit {
  color: #c4e4ea;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.images {
  display: flex;
  flex: 1 1 auto;
  gap: 12%;
}
@media (max-width: 1279.8px) {
  .images {
    flex: 1 1 0;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767.8px) {
  .images {
    flex-direction: row;
  }
}
.images__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.images__img-bottom {
  align-self: flex-end;
}

.service__top {
  display: flex;
  align-items: flex-end;
  gap: 6%;
  margin: 1.5rem 0rem 4rem 0rem;
}
.service__top h2 {
  flex: 1 0 45%;
}
.service__top p {
  color: #b8b8b8;
  flex: 0 1 40%;
}
@media (max-width: 767.8px) {
  .service__top p {
    text-align: center;
  }
}
@media (max-width: 991.8px) {
  .service__top {
    gap: 2rem;
    align-items: center;
  }
}
@media (max-width: 767.8px) {
  .service__top {
    flex-direction: column;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  min-height: 686px;
  height: 100%;
}
@media (max-width: 767.8px) {
  .menu {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 479.8px) {
  .menu {
    grid-template-columns: 1fr;
  }
}
.menu__article {
  padding: 15%;
  margin-right: 1px;
  background-color: rgba(0, 0, 0, 0.16);
}
@media (max-width: 479.8px) {
  .menu__article {
    padding: 5%;
  }
}
.menu__title {
  font-size: 2rem;
  margin-top: 24px;
  margin-bottom: 12px;
  word-break: break-word;
}
@media (max-width: 767.8px) {
  .menu__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 479.8px) {
  .menu__title {
    margin-top: 10px;
  }
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.products__wrapper a.button {
  align-self: center;
  margin-top: 1rem;
}
.products__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 767.8px) {
  .products__block {
    flex-direction: column;
  }
}
.products__block h2 {
  flex: 0 0 40%;
}
.products__block p {
  flex: 0 1 40%;
}
@media (max-width: 991.8px) {
  .products__block p {
    flex: 1 1 40%;
  }
}
.products__subtitle {
  margin-top: 0.5rem;
  margin-bottom: 3.6rem;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #c4e4ea;
}
.products__items {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767.8px) {
  .products__items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
  }
}

.items__item {
  background: #1f1d21;
  height: 100%;
}
.items__item img {
	 width: 405px;
    height: 271px;
    max-width: 100%;
    max-height: 100%;

     object-fit: cover;
	  overflow: hidden;
}
.items__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem;
  max-width: 405px;
  font-size: 1.25rem;
}
.items__title {
  line-height: 1.2;
}
.items__price {
	line-height: 1;
  color: #ffffff;
  font-weight: 500;
}

.video__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
@media (max-width: 991.8px) {
  .video__wrapper {
    flex-direction: column;
  }
}
.video__slider {
	flex: 1 1 40%;
	overflow: hidden;
}
.video__content {
  color: #ffffff;
  background-color: #1f1d21;
  padding: 5vw 5vw 5vw 10vw;
  height: 668px;
  /*width: 43%;*/
}
.video__symvol {
  font-family: "Roboto", sans-serif;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
}
@media (max-width: 767.8px) {
  .video__symvol {
    font-size: 2rem;
  }
}
@media (max-width: 767.8px) {
	.video__symvol {
	  font-size: 2.5rem;
	}
 }
.video__text {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;

  max-width: 430px;
  max-height: 350px;
  
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 767.8px) {
  .video__text {
    font-size: 1.5rem;

  }
}
.video__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
@media (max-width: 767.8px) {
	.video__info {
	  padding-top: 2rem;
	}
 }
.video__author {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.video__name {
  line-height: 1.5;
}
.video__local {
  font-size: 0.75rem;
  line-height: 1.33;
}
.video__photo {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #fff;
}
.video__photo img {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	overflow: hidden;
	object-fit: cover;
	box-sizing: border-box;
 }
.video__image {
  position: relative;
  width: 57%;
}
.video__image img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.8px) {
  .video__image img {
    width: 100%;
    max-height: 100%;
  }
  .video__text {
	max-width: 100%;
 }
 .video__image {
  width: 100%;
}
.video__content {
	height: 100%;
 }
}

.video__btn {
  position: absolute;
  top: 45%;
  left: 47%;
}
@media (max-width: 479.8px) {
  .video__btn {
    top: 42%;
    left: 45%;
  }
}

.blog__box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  margin-top: 5.5vmin;
  flex-wrap: wrap;

}
@media (max-width: 767.8px) {
  .blog__box {
    gap: 1rem;
  }
}
.record {
	flex: 1 1 30%;
  max-width: 390px;
  background-color: #1f1d21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767.8px) {
  .record {
    flex: 1 1 45%;
    min-width: 222px;
    width: auto;
    max-width: 45%;
  }
}
@media (max-width: 479.8px) {
  .record {
    max-width: 405px;
  }
}
@media (any-hover: hover) {
	.record__title:hover {
		transition: all 0.3s ease 0s;
    	box-shadow: 0px 2px 0px 0px rgb(255, 255, 255);
	 }
}
.record__content {
  padding: 2vw;
}
.record__date {
  font-size: 0.9rem;
}
.record__title {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
@media (max-width: 767.8px) {
  .record__title {
    font-size: 1.5rem;
  }
}
.record__image img {
	height: 25vw;
  	max-height: 100%;
	width: 390px;
  	max-width: 100%;
  
   object-fit: cover;
	overflow: hidden;
}
@media (max-width: 479.8px) {
	.record__image img {
		height: 250px;
		width:100%;
	}
 }

.products__categories {
  margin: 7.5vw 0vw 2.5vw 0vw;
}

.categories {
  display: flex;
  gap: 2rem;
}
.categories__li {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.6);
}
.categories__li.active-category {
  color: #ffffff;
}

.about__contain-single {
  min-height: 595px;
}

.background {
  height: auto;
  position: relative;
}
.background__image {
  height: 500px;
}
.background__image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.background__image .background__gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(136deg, rgba(25, 22, 27, 0.92) 35%, rgba(25, 22, 27, 0.86) 45%, rgba(25, 22, 27, 0.7) 52.15%, rgba(25, 22, 27, 0.1) 75%);
  z-index: 999;
}
.background__content {
  position: absolute;
  top: 15%;
  left: 7%;
  z-index: 99999;
}
@media (max-width: 479.8px) {
  .background__content {
    left: 1%;
  }
}
.background__title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
@media (max-width: 767.8px) {
  .background__title {
    font-size: 2rem;
  }
}
.background__title span {
  color: #ffc492;
}
.background__text {
  max-width: 430px;
}

.inform {
  padding: 5vw;
  background: rgba(255, 255, 255, 0.03);
}
.inform__title {
  font-size: 2rem;
  padding-bottom: 4.4vw;
  position: relative;
}
.inform__title::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("/img/icons/Lineborder1.png") no-repeat;
  z-index: 999;
}
@media (max-width: 767.8px) {
  .inform__title::after {
    display: none;
  }
}
.inform__box {
  display: flex;
  gap: 2.9vw;
}
@media (max-width: 767.8px) {
  .inform__box {
    flex-wrap: wrap;
  }
}
.inform__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 767.8px) {
  .inform__item {
    flex: 1 1 45%;
  }
}
@media (max-width: 479.8px) {
  .inform__item {
    flex: 1 1 100%;
  }
}
.inform__date {
  position: relative;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 2rem;
}
@media (max-width: 767.8px) {
  .inform__date {
    font-size: 1.5rem;
  }
}
.inform__date::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 46px;
  height: 0.4vw;
  background: #ffb577;
  z-index: 999;
}
.inform__subtitle {
  font-size: 1.25rem;
}
.company__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10vw;
}
@media (max-width: 991.8px) {
  .company__wrapper {
    gap: 5vw;
  }
}
@media (max-width: 767.8px) {
  .company__wrapper {
    flex-direction: column;
  }
}
.company__name {
  flex: 1 1 45%;
}
.company__title {
  font-size: 3rem;
  line-height: 1.2;
}
@media (max-width: 767.8px) {
  .company__title {
    font-size: 2rem;
  }
}
.company__content {
  flex: 1 1 45%;
}
.company__subtitle {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
@media (max-width: 767.8px) {
  .company__subtitle {
    font-size: 1.5rem;
  }
}

.story__wrapper {
  display: flex;
  gap: 7vw;
  min-height: 57vw;
}
@media (max-width: 767.8px) {
  .story__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.story__content {
  margin-top: 1rem;
  max-width: 540px;
}
.story__title {
  font-size: 3.5rem;
  line-height: 1.2;
}
@media (max-width: 767.8px) {
  .story__title {
    font-size: 2.5rem;
  }
}
.story__text {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  max-width: 515px;
}
.story__images {
  display: flex;
  justify-content: space-between;
  gap: 4vw;
}
.story__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.story__img-bottom {
  padding-top: 40px;
}
.story__subtitle {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767.8px) {
  .story__subtitle {
    font-size: 1.5rem;
  }
}
.story__subtitle span {
  color: #ffb577;
}

.contact__block {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 6.4vw;
}
@media (max-width: 991.8px) {
  .contact__block {
    flex-direction: column;
    align-items: center;
  }
}
.contact__connect {
  max-width: 625px;
}
@media (max-width: 767.8px) {
  .contact__connect {
    max-width: 100%;
  }
}
.contact__title {
  font-size: 3rem;
  line-height: 1.2;
  opacity: 0.87;
}
@media (max-width: 767.8px) {
  .contact__title {
    font-size: 2rem;
  }
}
.contact span {
  display: block;
  margin: 1.5rem 0 1rem 0;
}
@media (max-width: 991.8px) {
  .contact__images {
    flex-direction: row;
    align-items: center;
  }
}
.form__wrapper {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: flex-start;
}
@media (max-width: 767.8px) {
  .form__wrapper {
    flex-direction: column;
  }
}
.form__group-required {
  flex: 1 1 49%;
}
.form__group {
  padding-top: 1.5rem;
  color: #ffffff;
}
.form__group textarea {
  resize: vertical;
  width: 100%;
  min-height: 100px;
}
@media (max-width: 767.8px) {
  .form__group {
    flex: 1 1 100%;
    min-width: 100%;
  }
}
.form__input {
  color: #ffffff;
  background-color: transparent;
  width: 297px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  transition: all 0.5s ease 0s;
  padding: 14px 0px 14px 32px;
  cursor: pointer;
}
.form__input::-moz-placeholder {
  color: #ffffff;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.form__input:-ms-input-placeholder {
  color: #ffffff;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.form__input::placeholder {
  color: #ffffff;
  transition: all 0.5s ease 0s;
}
.form__input:focus {
  box-shadow: 0 0 15px #7a956b;
  transition: all 0.5s ease 0s;
}
.form__input:focus::-moz-placeholder {
  opacity: 0.6;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.form__input:focus:-ms-input-placeholder {
  opacity: 0.6;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.form__input:focus::placeholder {
  opacity: 0.6;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767.8px) {
  .form__input {
    width: 100%;
  }
}
.form__button {
  margin-top: 2rem;
  margin-bottom: 4rem;
  background: #27252d;
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  opacity: 0.87;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.form__button svg {
  margin-left: 0.75rem;
}
.form__button:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.05);
}
.form__button:active {
  transition: all 0.5s ease 0s;
  background: #999;
}
.form__button:disabled {
  background: #999;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox__label {
  width: 100%;
  font-size: 0.75rem;
  opacity: 0.9;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.checkbox__label a {
  text-decoration: underline;
  cursor: pointer;
}
.checkbox__label::after {
  transition: transform 0.5 ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  border-radius: 4px;
  background-color: #332d32;
  transform: scale(0);
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  flex: 0 0 24px;
  align-self: flex-start;
  height: 24px;
  border-radius: 4px;
  background-color: #fff;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
}

div.success {
  font-size: 1.2rem;
  color: #ffffff;
  padding-top: 1.5rem;
}

.blog__flex {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 5.5vw;
  gap: 2vw;
}
@media (max-width: 991.8px) {
  .blog__flex {
    padding-right: 0;
  }
}
@media (max-width: 767.8px) {
  .blog__flex {
    flex-direction: column;
    gap: 2rem;
  }
}
.blog__title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4vw;
}
@media (max-width: 767.8px) {
  .blog__title {
    font-size: 2rem;
  }
}
@media (max-width: 479.8px) {
  .blog__title {
    margin-bottom: 2rem;
  }
}
.trend {
  flex: 1 1 29.4%;
  position: relative;
  background-image: url("/img/photos/Imageblog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 496px;
  z-index: 99;
  color: #ffffff;
}
@media (max-width: 767.8px) {
  .trend {
    flex: 1 1 100%;
  }
}
.trend__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(20, 17, 21, 0.81);
  z-index: -1;
}
.trend__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 30px;
  background: rgba(255, 196, 146, 0.47);
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.trend__box {
  position: absolute;
  right: 4vw;
  bottom: 2.5vw;
  left: 4vw;
}
@media (max-width: 479.8px) {
  .trend__box {
    right: 0;
    bottom: 10%;
    left: 0;
  }
}
.trend__name {
  font-size: 3rem;
  max-width: 400px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 3.5vw;
}
@media (max-width: 767.8px) {
  .trend__name {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
.trend__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trend__link {
  color: #ffffff;
  opacity: 0.87;
}
.trend__link svg {
  margin-left: 10px;
}

.author {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.author img {
  width: 40px;
  height: 40px;
}
.author__inf {
  display: flex;
  flex-direction: column;
}
.author__name {
  font-style: normal;
  opacity: 0.87;
}
.author__date {
  font-size: 0.88rem;
  opacity: 0.6;
}

.all {
  flex: 1 1 22%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
@media (max-width: 767.8px) {
  .all {
    flex: 1 1 100%;
    gap: 1rem;
  }
}
.all__block {
  display: flex;
  align-items: stretch;
  gap: 2vw;
}
@media (max-width: 767.8px) {
  .all__block {
    align-items: center;
    gap: 1rem;
  }
}
@media (max-width: 479.8px) {
  .all__block {
    flex-direction: column;
  }
}
.all__block img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.all__cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.all__subtitle {
  line-height: 1.5;
  font-size: 1.25rem;
}

.articles__name {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 4vw;
}
@media (max-width: 767.8px) {
  .articles__name {
    font-size: 1.8rem;
  }
}
@media (max-width: 479.8px) {
  .articles__name {
    margin-bottom: 2rem;
  }
}
.articles__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-row-gap: 2.5vw;
  grid-column-gap: 3.75vw;
}
@media (max-width: 991.8px) {
  .articles__box {
    grid-row-gap: 2rem;
  }
}
@media (max-width: 479.8px) {
  .articles__box {
    grid-template-columns: 1fr;
  }
}
.articles__item {
  display: flex;
  align-items: center;
  gap: 2.5vw;
}
@media (max-width: 991.8px) {
  .articles__item {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
.articles__image {
  height: 100%;
}
.articles__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.8px) {
  .articles__image img {
    width: 100%;
  }
}
.articles__content {
  min-width: 180px;
  color: #ffffff;
}
.articles__title {
  max-width: 19vw;
  margin: 1.5rem 0 1.5rem 0;
  line-height: 1.5;
  font-size: 1.25rem;
  opacity: 0.87;
}
@media (max-width: 991.8px) {
  .articles__title {
    max-width: 100%;
  }
}
.articles__link svg {
  margin-left: 10px;
}

.article__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article__title {
  font-size: 3rem;
  max-width: 950px;
  margin-top: 3.5vw;
  margin-bottom: 5vw;
  text-align: center;
}
@media (max-width: 767.8px) {
  .article__title {
    font-size: 2rem;
  }
}
.article__image {
  margin-bottom: 2.5vw;
}
.article__image img {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author__infomation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.content-text {
  max-width: 840px;
}
.content-text__title {
  font-size: 2rem;
  margin: 2.5vw 0 0.5vw 0;
}
@media (max-width: 767.8px) {
  .content-text__title {
    font-size: 1.5rem;
  }
}
.content-text__subtitle {
  font-size: 1.25rem;
  margin: 2.5vw 0 0.5vw 0;
}
.content-text p {
  margin-top: 1rem;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5vmin;
  padding-bottom: 32px;
}
.footer__logo img {
  width: 120px;
}
.footer__nav {
  padding-top: 45px;
}
@media (max-width: 767.8px) {
  .footer__nav .nav__list {
    flex-wrap: wrap;
  }
}

.bottom {
  border-top: 1px solid #ffffff;
  padding-top: 30px;
  padding-bottom: 23px;
}
.bottom__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 767.8px) {
  .bottom__box {
    flex-direction: column-reverse;
  }
}
.bottom__text {
  font-weight: 400;
  flex: 1 1 45%;
}
.bottom__block {
  flex: 1 1 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.bottom__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bottom__link {
  font-weight: 500;
}
/*Wordpess*/
font{
	font-size: inherit;
	color: inherit;
	font-style: inherit;
}
